<?xml version='1.0' encoding='utf-8'?>
<widget id="com.skytek.cordova.openears.demo" version="0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>
        A demo app for the OpenEars/Cordova plugin.
    </description>
    <author email="karl.chadwick@skytek.com" href="http://skytek.com">
        Karl @ Skytek
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
